<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Race Events</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#">RUNNER DATA</a>
    </div>

    <div class="row panel">
        <div id="categries" class="col-xs-3">
            Side bar
        </div>
        <div class="col-xs-8">
            @RenderBody()
        </div>
    </div>
</body>
</html>

