@model Runner

<div class="well">
    <h3>
        <strong>@Model.FirstName @Model.LastName</strong>
        <span class="pull-right label label-primary">
            @Model.Gender
        </span>
    </h3>
    <span class="lead">@Model.Age</span>
</div>
