<h2>Thank you!</h2>
<p>Thank you for your interest in sponsoring one of our events!</p>
<p>We will process your application as soon as possible. You should receive an email with your next steps within 3 business days.</p>