<div class="media-heading">
    <h3>
        This app allows you to register for different Race Events in the US as either a runner or volunteer.
        Please select your registration option upon checkout. Registration fees are the same for runners and volunteers.
        A portion of the fee is used to cover event costs and a portion is given towards the charity or cause featured
        in the event.
    </h3>
    <h3>
        Both runners and volunteers will receive a t-shirt commemorating the event, and volunteers will receive food on
        the day of the race and a giftcard from our chosen sponsor.
    </h3>
    <h3>
        We would love to see you at an upcoming event- Happy running!
    </h3>
</div>




