@model IEnumerable<Run>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Run Data</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <table class="table table-sm table-striped table-bordered">
        <tr>
            <td>Run Time</td>
            <td>Run Avg Speed</td>
        </tr>
        @foreach (Run ru in Model)
        {
            <tr>
                <td>@ru.RunTime</td>
                <td>@ru.AvgSpeedInMiles</td>
            </tr>
        }
    </table>
</body>
</html>
