@model RunnersListViewModel

@foreach (Runner ru in Model.Runners)
{
    @Html.Partial("RunnerSummary", ru)
}

<div page-model="@Model.PagingInfo" page-action="List"
     page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-default"
     page-class-selected="btn-primary"
     class="btn-group pull-right">
</div>

